@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Todo List</h1>
<hr />


<div>

    <div class="input-group">
            <input type="text" class="form-control" placeholder="Yeni bir todo ekleyin" >
            <input type="date" style="max-width:150px" class="form-control">
            <input type="submit" value="Ekle" class="btn btn-success">
    </div>

</div>









